body {
    background-color: #e4e6eb;
    font-family: "Assistant", sans-serif;
    color: #071c4d;
}

//Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;

            &.active {
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }
}

.btn-login {
    background-color: #071c4d;
    color: #ffff;

    &:hover {
        background-color: #1e3771;
        color: #ffff;
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

//header
header {
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url("../images/header_2.jpg");
    background-size: cover;

    h1,
    p {
        color: #fff;
    }

    h1 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }
    .btn-get-started {
        background-color: #ff9e53;
        color: #fff;

        &:hover {
            background-color: #ffaa69;
            color: #fff;
        }
    }
}

//section
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 15px;
        background-color: #fff;
        padding-left: 40px;
    }

    h2 {
        color: #071c4d;
        font-size: 30px;
        margin-bottom: 0px;
    }

    p {
        color: #071c4d;
        font-size: 20px;
        font-weight: lighter;
    }
}

//popular
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;
    }

    h2 {
        color: #fff;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        color: #fff;
        font-size: 18px;
    }
}
